VITE_GOOGLE_CLIENT_ID=344921696448-q8c6ilda3ehc6cnvhlit1o94schjq5r9.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=http://127.0.0.1:3000
VITE_PAYMENT_CONTRACT_ADDRESS=
VITE_PAYMENT_CHAIN_ID=1
VITE_PAYMENT_CHAIN_NAME=Ethereum
